$primary: SeaGreen;
$body-bg: rgb(215, 231, 157);

// rgb(204, 231, 106);


@import '../node_modules/bootstrap/scss/bootstrap.scss';

$color: steelblue;

.my-flix {
    color: $color;
}

.card-title {
    margin-bottom: .75rem;
    font-size: 23px;
}


@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}