$primary: SeaGreen;
$body-bg: rgb(248, 248, 230);


@import '../node_modules/bootstrap/scss/bootstrap.scss';

$color: steelblue;

.my-flix {
    color: $color;
}


@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}